################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/In.Reqres.Tests/.vs/In.Reqres.Tests
