<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter  name="BaseAddress" value="https://reqres.in"/>
    <!--End points-->
    <Parameter  name="CreateUserEndPoint" value="/api/users"/>
    <Parameter  name="ListUsersEndPoint" value="/api/users?page=2"/>
    <Parameter  name="LoginEndPoint" value="/api/login"/>
    <Parameter  name="RegisterEndPoint" value="/api/register"/>
  </TestRunParameters>
</RunSettings>